<!DOCTYPE html>
<html>
<head>
    <title>Welcome Page</title>
    <style>
        body {
            background-image: url("Extra_work\img.png"); 
            background-color: #f0f0f0; /* Light color for the background */
            background-size: cover; /* Ensure the image covers the entire background */
        }
        h1 {
            text-align: center;
            color: blue;
        }
    </style>
</head>
<body>
    <h1>Welcome to my Home page</h1>
</body>
</html>